/**
 * Site header
 */
.site-header {
    background: url("/images/background.png");
    border-top: 0px solid $grey-color-dark;
    border-bottom: 0px solid $grey-color-light;
    min-height: $height-top-band;
    max-height: $height-top-band;
    width: 100%;
    // Positioning context for the mobile navigation icon
    position: fixed;
    box-shadow:0px 1px 13px #000000;
}

.site-logo {
    border-radius: 50%;
    float: left;
    padding: 0px;
    box-shadow:0px 2px 50px #000000;
    height:60px;
    width:60px;
}

.site-title {
    font-family: coronet;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding: 0 0 0 15px;
    &,&:visited,&:hover,&:link{
        text-decoration: none;
        color: $grey-color-light;
        background: rgba(0,0,0,0);
    };
}

.site-title-img-a {
    &,&:visited,&:hover{
        color: #000000;
    };
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #ffffff;
        line-height: $base-line-height;

        &,&:visited,&:link{
            text-decoration: none;
            color: $grey-color-light;
            background: rgba(0,0,0,0);
        };

        &:hover{
            text-shadow:0px 0px 10px #ffffff;
            text-decoration: none;
            color: $grey-color-light;
            background: rgba(0,0,0,0);
        };

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 0px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: url("/images/background.png");
    box-shadow:0px 1px 13px #000000;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}


.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    //padding: $spacing-unit 0;
    padding: $height-top-band+$spacing-unit 0 $spacing-unit 0;
    min-height: 620px;
    /*background: url("/images/body-background.jpg");*/
    background: #eee;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    float:left;
}

.post-tags {
    font-size: $small-font-size;
    list-style: none;
    float: right;
    white-space:nowrap;

    > li {
        display: inline;
        /*padding: 3px 6px;*/
        margin: 2px;
        background: #eee;
        color: #555;
        border-radius: 3px;
        text-decoration: none;
        border: 1px dashed #cccccc;

    }
}

.post-link {
    padding: 0 0 0 0;
    font-size: 24px;
}

.post-brow {
    width: 100%;
    line-height: $small-font-size;
    display: inline-block;
}



/**
 * Posts
 */
.post-header {
    /*margin-bottom: $spacing-unit;*/
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    padding: 0 0 $small-font-size 0;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h2 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 15px;

        @include media-query($on-laptop) {
            font-size: 15px;
        }
    }
}

.pagination {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

.pagination-img, .pagination-img-invalid{
    max-height:  16px;
    border:none;
    padding: 0 5px;
}

.pagination-img-invalid {
    opacity: 0.6;
}


.separator {
    width: 80%;
    box-shadow:0px 2px 10px #000000;
}

.post-list-item {
    box-shadow: 1px 1px 10px #BBB;
    padding: 10px 30px;
    background: #ffffff;
}

.post {
    box-shadow: 1px 1px 10px #BBB;
    padding: 30px 40px;
    background: #ffffff;
}

.clean-link {
    &,&:visited,&:link, &:hover{
        text-decoration: none;
        background: rgba(0,0,0,0);
        color: $grey-color-light;
    };
    &:hover{
        text-shadow:0px 0px 5px #ffffff;
    };
}

.post-tags-num {
    font-size: $base-font-size;
    list-style: none;
    /*white-space:nowrap;*/

    > li {
        display: inline;
        padding: 3px 4px 0px 6px;
        margin: 4px;
        background: #eee;
        color: #555;
        border-radius: 3px;
        text-decoration: none;
        border: 1px dashed #cccccc;
        > a {
            &,&:visited,&:link, &:hover{
                text-decoration: none;
                background: rgba(0,0,0,0);
            };
            > span {
                vertical-align: super;
                font-size: $tiny-font-size
            }
        }
    }
}

.tags-box {
    > li {
        list-style-type: square;
        
    }
}

@media print { 
    
    .post {
        box-shadow: 0px 0px 0px #000000;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0px;
   }

    .site-header, .site-footer{ 
        display: none;
   }

   .page-content {
        padding: 0px 0px 0px 0px;
        background: white;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .wrapper {
        padding: 0px 20px 0px 0px;
        background: white;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .ref-declar {
        display: visible !important;
    }
}

@media screen {
    .ref-declar {
        display: none !important;
    }
}