---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class = "ref-declar"> <strong> NOTE: </strong> This article is written by iamjoking <a href="{{ site.baseurl }}/">[{{ site.url }}]</a></p>
    <div class="post-brow">
      <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
      <ul class = "post-tags">
        {% for tag in page.tags %}
        <li> {{ tag }} </li>
        {% endfor %}
      </ul>
	</div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
